/* styles.css */
.container {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    background-color: rgb(35, 211, 25);
    width: 560px;
    height: 475px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
  }
  
  .login_info {
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    padding: 40px;
  }
  
  .side_bar {
    background-color: rgba(0, 42, 58, 1);
    border-radius: 30px;
    width: 200px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 22px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .login_info input {
    height: 35px;
    outline: none;
    border: none;
    border-radius: 15px;
    width: 260px;
    top: 37px;
    position: relative;
    padding: 12px;
  }
  
  .button_btn_register {
    background: rgb(35, 211, 25);
    width: 140px;
    color: rgb(29, 27, 86);
    padding: 6px 14px 7px 14px;
    top: -37px;
    position: relative;
    left: 6px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 15px;
  }
  .button_enter {
    background: rgba(0, 42, 58, 1);
    width: 150px;
    color: rgba(239, 239, 239, 0.94);
    padding: 8px 11px 10px 14px;
    top: 10px;
    position: relative;
    left: 63px;
    font-size: 15px;


  }
  
  .link {
    font-size: 12px;
    text-align: end;
    color: rgb(29, 27, 86);
    text-decoration: none; /* Removendo o sublinhado do link */
  }
  .img_logo{
    width: 150px;
    
  }
  .titlelog{
    position: relative;
    font-size: 30px;
    left: 77px;
    top: -12px;
  }
  .email{
    left: 10px;
    position: relative;
    top: 30px;
    font-size: 14px;
  }
  .senha{
    left: 10px;
    position: relative;
    top: 30px;
    font-size: 14px;
  }
  .esqueceu_senha{
    left: 125px;
    position: relative;
    top: 30px;
    font-size: 14px;
  }
  .button_enter:hover {
    background-color: rgba(0, 42, 58, 1);
  }