/* Carrossel.css */

.carrossel-container1 {
  position: relative;
  width: 100%;
  max-width: 900px; /* Limita o tamanho máximo do carrossel */
  margin: 0 auto;
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites do carrossel */
}
.carrossel-container1 img {
  /* width: 40%; 
  height: auto; */
  margin: 3px;
  border-radius: 10px;
}

.carrossel-imagens1 {
  display: flex; /* Faz as imagens ficarem lado a lado */
  transition: transform 0.5s ease; /* Animação suave ao trocar de imagem */
}

.carrossel-imagem1 {
  width: 33.33%; /* Define a largura das imagens, 3 imagens por vez */
  height: 300px; /* Altura fixa para as imagens */
  object-fit: cover; /* Faz as imagens se ajustarem sem distorcer */
  
}

.carrossel-container1 button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}

.carrossel-container1 button.prev {
  left: 10px; /* Posição do botão "anterior" à esquerda */
}

.carrossel-container1 button.next {
  right: 10px; /* Posição do botão "próximo" à direita */
}

.carrossel-container1 button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 768px) {
  .carrossel-imagem1 {
    width: 100%; /* Imagens ocupam toda a largura do carrossel em dispositivos móveis */
    height: 200px; /* Altura reduzida para dispositivos móveis */
  }
}
